/* Render */
.img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-position: top center;
  border-radius: inherit;
}

.typeIcon {
  font-size: 40px;
  color: var(--primary-color);
}
