.desktopHeader {
  padding-block: 24px;
  background-color: var(--white-color);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuItems {
  display: flex;
  gap: 40px;
  align-items: center;
}
.authBtns {
  display: flex;
  gap: 15px;
  align-items: center;
}
.linkItem {
  color: var(--heading-color);
  font-family: var(--ff-primary-med);
}
.linkItem.active {
  color: var(--main-color);
}
