.featuredContainer{
  padding-block: 60px 40px;
}
.featuredHeading {
  :where(h1,p){
    text-align: center;
  }
}
.job_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 15px;
  margin-top: 30px;
}
