:root {
  --main-color: #6300b3;
  --main-light-color: #ae71db;
  --heading-color: #303030;
  --card-heading-color: #18191c;
  --text-color: #5e6670;
  --light-text-color: #767f8c;
  --white-color: #ffff;
  --black-color: #0000;
  --placeholder-color: #9199a3;
  --input-placeholder: #12122480;
  --link-color: #9199a3;
  --border-color: #efe2f8;
  --card-bg-color: #f8f2fc;
  --btn-radius: 4px;
  --fs-small: 16px;
  --global-linear-gradient: linear-gradient(
    to right,
    #c599e547 0%,
    #c599e500 51%,
    #e2ccf2ab 100%
  );
  --footer-credits-color: #b781df;
  --ff-primary-reg: "Poppins-Regular";
  --ff-primary-med: "Poppins-Medium";
  --ff-primary-semiBold: "Poppins-SemiBold";
  --ff-primary-bold: "Poppins-Bold";
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color) !important;
  margin-bottom: 0px;
  font-family: var(--ff-primary-med);
  font-weight: 600;
}

p,
span {
  color: var(--text-color);
  margin-bottom: 0px;
  font-family: var(--ff-primary-reg);
  font-size: 16px;
}
a {
  text-decoration: none !important;
}
body h1 {
  font-size: 42px;
  @media screen and (max-width: 991px) {
    font-size: 34px;
  }
  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
}
body h2 {
  font-size: 24px;
  @media screen and (max-width: 991px) {
    font-size: 32px;
  }
  @media screen and (max-width: 576px) {
    font-size: 26px;
  }
}
@keyframes headerIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translate(0%);
  }
}
