.otpHeading {
  margin-bottom: 15px;
  & p:first-child {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px !important;
  }
  & p:last-child {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}
.actionBtns {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.expiry {
  margin-top: 10px;
  & p {
    font-size: 16px;
    margin-bottom: 0px !important;
    text-align: center;
    & span {
      font-weight: bold;
    }
  }
  .otpExpired span{
    cursor: pointer;
  }
}
